<div class="page-header">
  <%= link_to new_employee_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Employee
  <% end %>
  <%= link_to departments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Listing employees</h1>
</div>

<div class="table-responsive">
  <table id="employee_table" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Employee number</th>
      <th>Hire date</th>
      <th>Removal date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @employees) do |employee| %>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.employee_number %></td>
        <td><%= employee.hire_date.strftime('%m/%d/%Y') %></td>
        <% if employee.removal_date == nil %>
            <td>N/A</td>
        <% else %>
            <td><%= employee.removal_date.strftime('%m/%d/%Y') %></td>
        <% end %>
        <td><%= link_to 'Show', employee_path(employee) %></td>
        <td><%= link_to 'View Schedule', schedule_path(employee) %></td>
        <td><%= link_to 'Email Schedule', email_schedule_path(employee) %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Remove', employee, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
    </tbody>
  </table>
</div>
