<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div style="text-align: center">
        <div>
        <%= image_tag 'calendar.jpg' %>
      </div>
      </div>
      <div class="carousel-caption well" style="background-color: rgba(255, 255, 255, 0.9)">
        <h1>Shift Scheduler</h1>
        <p class="lead">Experiance the freedom of easily creating and managing employee schedules</p>
        <%= link_to 'Signup', new_employee_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <div>
          <%= image_tag 'calendar2.jpg' %>
        </div>
      </div>
      <div class="carousel-caption well" style="background-color: rgba(255, 255, 255, 0.9)">
        <h1>Easy to navigate calendar</h1>
        <p class="lead">Add and view shifts in an intuitive calendar</p>
        <%= link_to 'Signup', new_employee_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <div>
          <%= image_tag 'Dashboard.jpg' %>
        </div>
      </div>
      <div class="carousel-caption well" style="background-color: rgba(255, 255, 255, 0.9)">
        <h1>Central dashboard</h1>
        <p class="lead">Allows easy managing of multiple departments</p>
        <%= link_to 'Signup', new_employee_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'mayan_calendar2.jpg' %>
      </div>
      <div class="carousel-caption well" style="background-color: rgba(255, 255, 255, 0.9)">
        <h1>Ancient Mayan Energy Flow</h1>
        <p class="lead">Increase productivity using the natural sun and moon cycles</p>
        <%= link_to 'Signup', new_employee_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'waterfall-in-mountains.jpg'%>
      <div class="carousel-caption well" style="background-color: rgba(255, 255, 255, 0.9)">
        <h1>Multifaceted synergistic solutions</h1>
        <p class="lead">Dynamic modeling to match your scheduling paradigm</p>
        <%= link_to 'Signup', new_employee_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<!--class Employee-->
<!--has_many :roles-->
<!--end-->

<!--class Organization-->
<!--has_many :roles-->
<!--end-->

<!--class Role-->
<!--belongs_to :organization, :employee-->
<!--end-->

<!--class Ability-->
<!--if user.role?(:employee)-->
<!--can :show, :schedule-->
<!--end-->

<!--if user.role?(:admin)-->
<!--can :manage, :all-->
<!--end-->
<!--end-->
