<% if can? :manage, :all %>
  <%= render 'console/toolbar' %>
<% end %>

<!--Department Table-->
<div class="col-md-5 console-panel">
  <div class="page-header">
    <h1><%= link_to 'Departments', departments_path %></h1>
  </div>

  <div class="table-responsive" style="height: 210px" overflow="scroll">
    <table id="department_table" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <% if can? :manage, :all %>
          <th></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <%= content_tag_for(:tr, @departments) do |department| %>
        <td><%= department.name %></td>
        <% if department == current_department %>
          <td style="width: 10%"><%= link_to '', switch_department_path(department), class: 'btn btn-primary glyphicon glyphicon-ok' %></td>
        <% else %>
          <td style="width: 10%"><%= link_to '', switch_department_path(department), class: 'btn btn-primary glyphicon glyphicon-transfer' %></td>
        <% end %>
        <% if can? :manage, :all %>
          <td style="width: 10%"><%= link_to '', edit_department_path(department), class: 'btn btn-primary glyphicon glyphicon-pencil' %></td>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</div>


<!--Employee Table-->

<div class="col-md-7 console-panel">

  <div class="page-header">
    <h1><%= link_to 'Employees', employees_path %></h1>
  </div>

  <div class="table-responsive" style="height: 210px" overflow="scroll">
    <table id="employee_table" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <% if can? :manage, :all %>
          <th></th>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <%= content_tag_for(:tr, @employees) do |employee| %>
        <td><%= employee.first_name + ' ' + employee.last_name %></td>
        <td style="width: 10%"><%= link_to '', employee_path(employee), class: 'btn btn-primary glyphicon glyphicon-eye-open' %></td>
        <td style="width: 10%"><%= link_to '', schedule_path(employee), class: 'btn btn-primary glyphicon glyphicon-calendar' %></td>
        <% if can? :manage, :all %>
          <td style="width: 10%"><%= link_to '', email_schedule_path(employee), class: 'btn btn-primary glyphicon glyphicon-envelope' %></td>
          <td style="width: 10%"><%= link_to '', edit_employee_path(employee), class: 'btn btn-primary glyphicon glyphicon-pencil' %></td>
          <td style="width: 10%"><%= link_to '', employee, class: 'btn btn-danger glyphicon glyphicon-trash', method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</div>
</div>


<div class="container">
  <div class="page-header">
    <h1><%= link_to 'Calendar', calendar_path %></h1>
  </div>
  <%= render 'calendars/calendar' %>
</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
