<ul class="nav navbar-nav">
  <li class="dropdown">
    <% if current_employee %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= current_employee.email %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li><%= link_to 'Settings', "/employees/#{current_employee.id}/edit" %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Signup', new_employee_path %></li>
      <li><%= link_to 'Login', login_path %></li>
    <% end %>
    </ul>
  </li>
